
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "TARC";
}


<div id="home-panel" class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Active Facilities (Entries this Week)</h2>
                </div>
                <div class="panel-body">
                    <ol>
                        <li>Davita Hackensack (26)</li>
                        <li>Physicians Dialysis Lawrenceville (11)</li>
                        <li>Davita Camden (10)</li>
                    </ol>
                </div>
                <div class="panel-footer">
                    &raquo; <a href="#">Show more</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Active Facilities (Entries FY2018)</h2>
                </div>
                <div class="panel-body">
                    <ol>
                        <li>Davita Hackensack (212)</li>
                        <li>Physicians Dialysis Lawrenceville (187)</li>
                        <li>Davita Camden (182)</li>
                    </ol>
                </div>
                <div class="panel-footer">
                    &raquo; <a href="#">Show more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Reconciliations (Pd19 in FY2018)</h2>
                </div>
                <div class="panel-body">
                    <ol>
                        <li>Davita Hackensack (77)</li>
                        <li>Physicians Dialysis Lawrenceville (69)</li>
                        <li>Davita Camden (67)</li>
                    </ol>
                </div>
                <div class="panel-footer">
                    &raquo; <a href="#">Show more</a>
                </div>
            </div>
        </div>


        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Reconciliations (FY2018)</h2>
                </div>
                <div class="panel-body">
                    <ol>
                        <li>Davita Camden (78)</li>
                        <li>Physicians Dialysis Lawrenceville (72)</li>
                        <li>Davita Camden (68)</li>
                    </ol>
                </div>
                <div class="panel-footer">
                    &raquo; <a href="#">Show more</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">


        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Under-Utilized Budget (FY2018)</h2>
                </div>
                <div class="panel-body">
                    <ol>
                        <li>Davita Camden (0 / 9000)</li>
                        <li>Physicians Dialysis Lawrenceville (200 / 7500)</li>
                        <li>Davita Camden (0 / 6000)</li>
                    </ol>
                </div>
                <div class="panel-footer">
                    &raquo; <a href="#">Show more</a>
                </div>
            </div>
        </div>

    </div>

</div>
